body{
    background-color: wheat;
    display: flex;
    min-height: 70vh;
    align-items: center;
    justify-content: left;
}
.container{
    border-radius: 5px;
    overflow: hidden;
    width: 300px;
    max-width: 200%;
}
.form{
    background-color: rgb(114, 183, 185);
}
.hearder{
    background-color: rgb(51, 136, 136);
    width: 700px;
    border: 1px solid black;
    padding: 2px 30px;
}
.form-validasi{
    margin-bottom: 5px;
    padding-bottom: 7px;
    position: relative;
}
h1 {
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
}

p {
    color: red;
    float: left;
    margin-left: 9.5em;   
}